<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo-gallery
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
<p>We'll create a Photo Gallery app that offers the ability to take photos with your device's camera, display them in a grid, and store them permanently on the device.</p>

  <h1>Highlights include:</h1>
<p>
  <ul>
    <li>One Angular-based codebase that runs on the web, iOS, and Android using Ionic Framework UI components.
    </li>
    <li>
       Deployed as a native iOS and Android mobile app using Capacitor, Ionic's official native app runtime.
    </li>
    <li>
      Photo Gallery functionality powered by the Capacitor Camera, Filesystem, and Preferences APIs.
    </li>
  </ul>

</ion-content>
<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click) ="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ion-fab markup  -->
</ion-content>



