<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Info
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button shape="round">
        Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Photo Taking App On Ionic Framework</h2>

  <ul>
    <li>If you have the ability to create an application and gain knowledge on the Ionic framework, give project-based work a try.</li><br>

    <li>As contributors and maintainers of the Ionic project, we pledge to respect everyone who contributes by posting issues, updating documentation, submitting pull requests, providing feedback in comments, and any other activities.</li><br>

    <li>If any member of the community violates this code of conduct, the maintainers of the Ionic project may take action, removing issues, comments, and PRs or blocking accounts as deemed appropriate.</li><br>
    <br>
    
    <ion-button shape="round" href="https://ionicframework.com/docs/react/your-first-app">Ionic Doc</ion-button>

    <ion-grid>
      <ion-row>
        <ion-col class="text-center">
          <span> &copy;Copyright 2024. </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ul>






</ion-content>
